<div id="intro">
	<h1>We design human experiences &amp;</h1>
	<h2>build for human interactions.</h2>
	<ul class="clear">
		<li><a href=""><span class="icon">t</span><em>Twitter</em></a></li>
		<li><a href=""><span class="icon">f</span><em>Facebook</em></a></li>
		<li><a href=""><span class="icon">d</span><em>Dribbble</em></a></li>
	</ul>
</div><!-- // intro -->