body {
	background: rgba(0,0,0,0.94);
	font-family: "Gotham Light";
}

a, a:visited {
	text-decoration: none;
	-webkit-transition: all 0.02s linear;
}

a:hover {
	-webkit-transition: all 0.02s linear;
}

@-webkit-keyframes intro {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wrap {
	width: 800px;
	margin: 10% auto;
}

header {
	-webkit-animation-name: intro;
	-webkit-animation-duration: 0.5s;
}

header h1 {
	width: 217px;
	height: 57px;
	margin: 0 auto;
}

header h1 a {
	width: 35px;
	height: 57px;
	background: transparent url(../images/logo_mark.png) 0 0 no-repeat;
	display: block;
	-webkit-transition: all 0.08s linear;
}

header h1 a em {
	text-indent: -99999px;
	display: block;
	width: 155px;
	height: 40px;
	background: transparent url(../images/logo_type.png) 0 0 no-repeat;
	position: relative;
	top: 8px;
	left: 60px;
}

header h1 a:hover {
	-webkit-transition: all 0.08s linear;
	opacity: 0.5;
}

.intro {
	margin: 40px 0 20px 0;
	text-align: center;
}

.intro h1 {
	font-weight: 100;
	font-size: 44px;
	color: #FFF;
	margin: 0 0 15px 0;
	-webkit-animation-name: intro;
	-webkit-animation-duration: 0.5s;
}

.intro h2 {
	font-weight: 100;
	color: #999;
	font-size: 30px;
	-webkit-animation-name: intro;
	-webkit-animation-duration: 0.7s;
}

.intro a {
	margin: 50px 0 0 0;
	-webkit-animation-name: intro;
	-webkit-animation-duration: 0.9s;
	display: inline-block;
	padding: 15px 30px;
	font-size: 14px;
	font-weight: 400;
	border-radius: 3px;
	background: #333;
	color: #eee;
	-webkit-transition: all 0.09s linear;
}

.intro a:hover {
	-webkit-transition: all 0.09s linear;
	background: #555;
}
